<% if !@subpages.empty? %>
  <div id='subnav'>
    <ul>
      <% for page in @subpages %>
        <li><%= link_to page.navlabel, view_page_path(page.name) %></li>
      <% end %>
  </div>
<% elsif @page.parent %>
  <div id='subnav'>
    <ul>
      <li><%= link_to "Return to #{@page.parent.navlabel}",
              view_page_path(@page.parent.name) %>
      </li>
    </ul>
  </div>
<% end %>

<% if logged_in? %>
  <%= link_to 'edit this page', '#', :id => 'edit' %>
  <br />
<%= in_place_editor_field :page, 'body', {}, {:rows => 20, :cols => 80, :load_text_url => {:controller => 'viewer', :action => 'get_unformatted_text', :id => @page.id}, :external_control => 'edit', :external_control_only => true} %>
<% else %>
<%= @page.body %>
<% end %>
